@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body {
  margin: 0;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 300;
  color: #383E4A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
